<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Välkommen till albin-mat</h2>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="recipe in recipes">
                <a ui-sref="recipe({id: recipe.id})">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a ui-sref="recipe({id: recipe.id})">{{recipe.titel}}</a>
                </h3>
                <p>{{recipe.category}}</p>
                <p>{{recipe.author}}</p>
            </div>
</div>
